{% extends 'base.html' %}
{% load static %}

{% block content%}

<h2>{{ title }}</h2>

<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    <label for="full_name">Full Name</label>
    <input name="full_name" id="full_name">
    <br>
    <br>
    <label for="email">EMail</label>
    <input type="email"  name="email" id="email">
    <br>
    <br>
    <label for="feedback">Feedback</label>
    <input name="feedback" id="feedback">
    <br>
    <br>
    <button type="submit">Send</button>
</form>

{% for feedback in feedbacks %}
    <div class="feedback">
        <h3>{{ feedback.full_name }}</h3>
        <p>{{ feedback.email }}</p>
        <p>{{ feedback.feedback }}</p>
    </div>
{% endfor %}
{% endblock %}